@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sedgwick+Ave&display=swap');

* {
  box-sizing: border-box;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  background: darkblue;
}

header, section, footer {
  width: 100vw;
  min-height: 650px;
  margin: 1em auto;
}

body > header {
  border: 1px solid red;
  margin-top: 0;
}

body > section {
  border: 1px solid yellow;
}

body > footer {
  border: 1px solid green;
  margin-bottom: 0;
}