$colorOne: #981E97;
$colorTwo: #0047BB;
$colorThree: #2AD2C9;
$colorFour: #8D9093;
$colorFive: #E0457B;
$colorSix: #FF333A;
$colorLt: #f4f4f4;
$colorDk: #333333;

$leadF: 'Sedgwick Ave', cursive;
$pageF: 'Raleway', sans-serif;