// imports
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Raleway&display=swap');

// vars
$colorOne: #981E97;
$colorTwo: #0047BB;
$colorThree: #2AD2C9;
$colorFour: #8D9093;
$colorFive: #E0457B;
$colorSix: #FF333A;
$colorLt: #f4f4f4;
$colorDk: #333333;
$colorLgDk: #222222;
$colorLgLt: #fefefe;
$colorNull: #777777;

$leadF: 'Bangers', cursive;
$pageF: 'Raleway', sans-serif;

* {
  box-sizing: border-box;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: darkblue;
  overflow-x: hidden;

  // &> header {
  //   border: 1px solid red;
  //   margin-top: 0;
  // }

  // &> section {
  //   border: 1px solid yellow;
  // }

  &>  footer {
    // border: 1px solid green;
    margin-bottom: 0;
  }

  font-family: $pageF;
  color: $colorLt;

  .bgVideo {
    height: 100vh;
    width: auto;
    opacity: .5;
    overflow: hidden;
    position: fixed;
    z-index: -1;
  }
}

h1, h2, h3,
h4, h5, h6,
.homeText {
  font-family: $leadF;
}

nav {
  height: 100%;
  width: 5vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background: $colorOne;
  color: $colorLt;
  transition: all .5s ease-in-out;
  border-right: 10px solid $colorLt;
  

  div.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1em .5em;
    color: inherit;

    & > a.close-nav {
      position: absolute;
      top: -.2em;
      right: .15em;
      text-decoration: none;
      color: inherit;
      font-size: 4rem;
      font-family: monospace;
      transition: all .5s ease-in-out;
    }

    & .navLinks {

      margin-top: 3em;
      margin-bottom: 1em;

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  
      & > a {
        display: block;
        text-decoration: none;
        color: $colorDk;
        font-family: $pageF;
        font-size: 1.5rem;
        font-weight: bolder;
        line-height: 2rem;
        transition: all .15s linear;

        &:visited {
          color: $colorDk;
        }

        &:hover,
        &:focus {
          transform: scale(1.1);
          color: $colorLt;
          text-shadow: .1em .1em $colorDk;
        }

        &:active {
          color: $colorLgLt;
        }
      }

      & a.comingSoon {
        color: $colorNull;
        cursor: default;
        
        &:hover,
        &:focus {
          text-shadow: none;
          transform: scale(1);
        }
      }

      
      & a.active {
        color: $colorLt;
      }
    }

    .logoHolder {
      a {
        text-decoration: none;
        display: block;
        font-size: 2rem;

        .bigger {
          font-size: 2.5rem;
        }

        &.homeText {
          transform: rotate(-90deg);
          color: inherit;
        }
      }
    }

    div.navSocials {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      & > * {
        padding: .25em;
      }
      
      a {
        text-decoration: none;
        display: flex;

        .navImg {
          width: 3vw;
          height: auto;
        }
      }
    }
  } 
}

header {
  &.home-header {
    height: 825px;

    .landing {
      background: url('/img/jomocon-header-image-1080-narrow.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: fixed;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .headerTextContainer {
        position: relative;

        .topText {
          position: absolute;
          top: -.8em;
          left: -1em;
          transform: rotate(-15deg);
        }
        
        .bottomText {
          position: absolute;
          top: .9em;
          left: .25em;
          transform: rotate(-15deg);
        }
      }

      h1 {
        font-size: 12rem;
        font-weight: 600;
        letter-spacing: .05em;
        color: $colorLgLt;
        text-shadow: .05em .05em $colorLgDk;

        span.bigger {
          font-size: 15rem;
          letter-spacing: .05em;
        }
      }

      .jomoconLogoContainer {
        margin: auto;
        text-align: center;
        & > img {
          width: 250px;
          height: auto;
        }
      }
    }
  }
}

.home-feature1,
.home-feature2,
.home-feature1_5 {
  padding: 2em 3em;
  font-size: 2rem;
  line-height: 1.3;

  h2, h3 {
    letter-spacing: .05em;
    margin-bottom: .5em;
    text-shadow: .1em .1em $colorLgDk;

    span.bigger {
      font-size: 3.5rem;
    }
  }

  p {
    margin-bottom: 1em;
  }
}

.home-feature1_5 {
  .formsContainer {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;

    .panelForm,
    .sponsorForm {
      background: $colorLgLt;
      width: 45vw;
      border-radius: 1em;
      padding: 1em;

      iframe {
        width: 100%;
        min-height: 540px;
      }
    }

    .panelForm {
      border: .5em solid $colorSix;
    }
    
    .sponsorForm {
      border: .5em solid $colorTwo;
    }
  }
}

.home-feature2 {
  background: $colorFive;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
  margin-bottom: -5vw;
  padding-top: 1em;

  h3 {
    letter-spacing: .06em;
  }

  .teamCards {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    justify-content: space-around;
    min-height: 200px;
    
    .card {
      height: 350px;
      background: $colorDk;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: .5em;
      border-radius: 5px;
      box-shadow: .3em .3em $colorLgDk;
      transition: width .75s ease-in-out;

      .imgAndNameHolder .cardAvatar {
        width: 160px;
        height: 160px;
        border-radius: 10px;
      }

      .cardAbout {
        padding: 1em;
        opacity: 0.0;
        transition: opacity .25s linear;
      }

      h3 {
        text-align: center;
      }

      p {
        font-size: 1.25rem;
      }

    }
  }
}


#footer {
  background: $colorDk;
  padding: 7.5vw 3em 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  h2, h3 {
    font-size: 4rem;
    letter-spacing: .05em;
    margin-bottom: .5em;
    text-shadow: .1em .1em $colorLgDk;

    span.bigger {
      font-size: 3.5rem;
    }
  }

  .footerContactInfo {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;

    address {
      display: block;
      font-style: normal;
      width: 45vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 2rem;

        &.leadF {
          font-size: 3rem;
        }

        span.bigger {
          font-size: 3.5rem;
        }
      }
    }
  }

  .footerContactForm {
    background: $colorLgLt;
    border: .5em solid $colorThree;
    width: 45vw;
    border-radius: 1em;
    padding: 1em;

    iframe {
      width: 100%;
      min-height: 540px;
    }
  }
}

// utility classes
.openNav {
  width: 25vw;
  background: $colorSix;
}

.hidden {
  display: none !important;
}

.rotate45 {
  transform: rotate(45deg);
}

.navSocialsH {
  flex-direction: initial !important;
  justify-content: space-around;
}

.navContainerOpen {
  justify-content: flex-start !important;
}

.leadF {
  font-family: $leadF;
}

.openCard {
  width: 80vh !important;
}

.closedCard {
  width: 200px !important;
}

.opFull {
  opacity: 1.0 !important;
}

.opNone {
  opacity: 0.0 !important;
}

// media scaling

// // 1920 x 1080
// @media screen and (min-width: 1601px) { // add back in later: and (max-width: 1920px)
//   header {
//     &.home-header {
//       // height: 825px;
  
//       .landing {
//         background: url('/img/jomocon-header-image-1080.jpg');
//       }
//     }
//   }
// }

// // 1600 x 900
// @media screen and (min-width: 1441px) and (max-width: 1600px) {
//   header {
//     &.home-header {
//       // height: 825px;
  
//       .landing {
//         background: url('/img/jomocon-header-image-1080.jpg');
//       }
//     }
//   }
// }

// // 1440 x 900
// @media screen and (min-width: 1281px) and (max-width: 1440px) {
//   header {
//     &.home-header {
//       // height: 825px;
  
//       .landing {
//         background: url('/img/jomocon-header-image-1080.jpg');
//       }
//     }
//   }
// }

// 1280 x 720
@media screen and (max-width: 1280px) {
  header {
    &.home-header {
      height: 850px;
  
      .landing {
        background: url('/img/jomocon-header-image-720-narrow.jpg');
        background-size: cover;
        background-attachment: scroll;
      }
    }
  }

  .home-feature2 {
    .teamCards {
      .card {
        height: 300px;

        .imgAndNameHolder .cardAvatar {
          width: 120px;
          height: 120px;
        }
      }
    }
  }

  .closedCard {
    width: 160px !important;
  }
}

// 1024
@media screen and (max-width: 1024px) {
  nav {
    width: 7vw;
    border-right: 7px solid $colorLt;

    div.navContainer {
      & > a.close-nav {
        right: .2em;
      }

      .logoHolder {
        a {
          font-size: 2.5rem;
  
          .bigger {
            font-size: 3rem;
          }
        }
      }

      div.navSocials {
        a {
          .navImg {
            width: 4vw;
          }
        }
      }
    }
  }

  .home-feature1,
  .home-feature2,
  .home-feature1_5 {
    padding: 1em 3em;
    font-size: 2rem;
    line-height: 1.3;

    h2, h3 {
      letter-spacing: .05em;
      margin-bottom: .4em;
      text-shadow: .1em .1em $colorLgDk;

      span.bigger {
        font-size: 3.5rem;
      }
    }

    p {
      margin-bottom: .5em;
    }
  }

  .home-feature1_5 {
    .formsContainer {
      flex-direction: column;

      .panelForm,
      .sponsorForm {
        width: 80vw;
      }
    }
  }

  .home-feature2 {
    .teamCards {
      .card {
        height: 280px;

        .imgAndNameHolder .cardAvatar {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  #footer {
    .footerContactInfo {
      flex-direction: column;
      gap: 1.5em;
  
      address {
        width: 80vw;
      }
    }
  
    .footerContactForm {
      width: 80vw;
    }
  }

  .closedCard {
    width: 140px !important;
  }

}

// 900
@media screen and (max-width: 900px) {

}

// 720
@media screen and (max-width: 720px) {

}

// 640
@media screen and (max-width: 640px) {

}

// 500
@media screen and (max-width: 500px) {

}

// 480
@media screen and (max-width: 480px) {

}
